.btn {
    display: inline-block;
    background: $accent-color;
    color: $primary-bg;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
        background: darken($accent-color, 10%);
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(76, 201, 240, 0.4);
    }
}

.team-grid {
    @include grid-layout(250px);
}

.team-member {
    @include card-style;
    overflow: hidden;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &:hover {
        transform: translateY(-10px);
    }
}

.member-info {
    padding: 1.5rem;

    h3 {
        margin-top: 0;
    }
}

.reviews {
    @include grid-layout(300px);
}

.review {
    @include card-style;
    border-left: 4px solid $accent-color;
}

.reviewer {
    @include flex-center;
    justify-content: flex-start;
    margin-bottom: 1rem;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

.features {
    @include grid-layout(300px);
}

.feature {
    @include card-style;
    text-align: center;

    i {
        font-size: 2.5rem;
        color: $accent-color;
        margin-bottom: 1rem;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: $border-radius;
    margin: 2rem 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.music-player {
    @include card-style;
    margin: 2rem 0;
    text-align: center;

    audio {
        width: 100%;
        margin-top: 1rem;
    }
}