// Импорт всех partials
@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components';

// Медиа-запросы
@include responsive($tablet) {
    .nav-links {
        display: none;
    }
    
    .hero h1 {
        font-size: 2rem;
    }
    
    .team-grid, .reviews, .features, .services-grid {
        grid-template-columns: 1fr;
    }
    
    .service-card.flex-card {
        min-width: 100%;
    }
}